@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy <br />

    Last Updated: lundi, 11 décembre 2023<br />

    Welcome to EbookStore! <br />We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our ebook store services.

    <br />Information We Collect

    Personal Information: <br />When you create an account or make a purchase, we may collect personal information such as your name, email address, and billing information.

    <br />Transaction Information: We collect information related to your transactions on our platform, including the titles of ebooks purchased, payment details, and transaction history.

    <br />Device and Usage Information: We may collect information about the device you use to access our services, including IP address, browser type, and operating system. We also gather data on how you interact with our platform.

    How We Use Your Information

    <br />Providing Services: We use your personal information to provide and improve our ebook store services, process transactions, and deliver the purchased ebooks to you.

    <br />Communication: We may use your contact information to send you transaction-related information, updates, and promotional content. You can opt-out of promotional emails at any time.

    <br />Security: Your information is crucial to the security of our platform. We employ industry-standard security measures to protect your data from unauthorized access.

    Sharing Your Information

    <br />Third-Party Service Providers: We may share your information with trusted third-party service providers who assist us in operating our platform, processing payments, and delivering services.

    <br />Legal Compliance: We may disclose your information to comply with applicable laws, regulations, or legal processes.

    Your Choices

    You have the following choices regarding your information:

    <br />Access and Update: You can access and update your account information through your profile settings.

    <br />Opt-Out: You can opt-out of receiving promotional emails by following the instructions provided in the email or contacting us directly.

    <br />Data Retention

    <br />We retain your information for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.

    Updates to Privacy Policy

    We may update this Privacy Policy to reflect changes in our practices. We will notify you of any material changes via email or by prominently posting a notice on our website.

    <br />Contact Us

    <br />If you have any questions or concerns about our Privacy Policy, please contact us at [contact@EbookStore.com].
</p>
